.wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    width: 80rem;
}

.top-div{
    width: max-content;
    height: max-content;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem 3rem 1rem 3rem;
    margin: 10rem 0 0 0 ;
}

.search-box {
    border: 1px solid black;
}