.container-div{
    display: flex;
    justify-content: center;
}

.top-div{
    width: max-content;
    height: max-content;
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1rem 3rem 1rem 3rem;
    margin: 10rem 0 0 0 ;
}